.nav {
  padding-bottom: 0;
}
.navbar {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
#header-nav {
  padding:0;
}
.navbar-brand {
  margin-bottom:0px;
}
.navbar-brand p {
  font-size:1.5em;
  margin-top:14px;
  margin-left:31px;
  padding-bottom:8px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-toggler {
  margin-top:-12px;
  margin-right:31px;
  float:right;
}
.nav-link {
  text-align:center;
  background-color:grey;
  padding:0;
}
.nav-link hr {
  margin-top:0;
  margin-bottom:0;
  border-top:1px solid white;
}
.navbar-dark .navbar-nav .nav-link {
  color:rgba(0, 0, 0, .7);
}
#mainHeading {
  margin-top:15px;
  margin-bottom:25px;
  font-size:1.8em;
}
.tallSection {
  margin-left:auto;
  margin-right:auto;
  width:100%;
  background-color:rgba(0, 100, 255, .7);
}
.tallSection p:first-child {
  /*text-align:center;*/
  font-size:1.3em;
  padding-bottom: 0px;
}
.tallSection p {
  margin-bottom: 8;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
/********** Small devices only **********/
@media (max-width: 575px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  }
  .col-xs-12 {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
  }
}
